@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #007BFF;
  --secondary-color: #F5F7FA;
  --accent-color: #28A745;
  --text-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
